<div class="example-video-container">
	<video id="vid1" class="video-js vjs-default-skin vjs-big-play-centered" controls data-setup='{}' width='640' height='480'>
		<source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'/>
		<source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm'/>
		<source src="https://vjs.zencdn.net/v/oceans.ogv" type='video/ogg'/>
	</video>
</div>